{% load static %}

<h3>Client Form</h3>
<a href="{% url 'PatientsList' %}">Go back</a>

<form method="POST" action="" id="createclient-form">
  {%csrf_token%}
  {{form.as_p}}
  <input type="submit" value="Submit">
  <script src="{% static 'jquery-3.6.1.min.js' %}"></script>
</form>


{% block scripts %}
<script src="{% static 'jquery.mask.min.js' %}"></script>
<script>
  $(document).ready(function () {
    alert("Ok");

    $('#id_cep').mask('00000-000');
    $('#id_phone').mask('(00) 00000-0000');

    function limpa_formulário_cep() {
      // Limpa valores do formulário de cep.
      $("#id_address").val("");
      $("#id_city").val("");
      $("#id_state").val("");
    }

    $("#id_cep").blur(function () {
      //Nova variável "cep" somente com dígitos.
      var cep = $(this).val().replace(/\D/g, '');
      //var cep = $("#id_cep").val

      //Verifica se campo cep possui valor informado.
      if (cep != "") {

        //Expressão regular para validar o CEP.
        var validacep = /^[0-9]{8}$/;

        //Valida o formato do CEP.
        if (validacep.test(cep)) {

          //Preenche os campos com "..." enquanto consulta webservice.
          $("#id_address").val("...");
          $("#id_city").val("...");
          $("#id_state").val("...");

          //Consulta o webservice viacep.com.br/
          $.getJSON("https://viacep.com.br/ws/" + cep + "/json/?callback=?", function (dados) {

            if (!("erro" in dados)) {
              //Atualiza os campos com os valores da consulta.
              $("#id_address").val(dados.logradouro);
              $("#id_city").val(dados.localidade);
              $("#id_state").val(dados.uf);

            } //end if.
            else {
              //CEP pesquisado não foi encontrado.
              limpa_formulário_cep();
              alert("CEP não encontrado.");
            }
          });
        } //end if.
        else {
          //cep é inválido.
          limpa_formulário_cep();
          alert("Formato de CEP inválido.");
        }
      } //end if.
      else {
        //cep sem valor, limpa formulário.
        limpa_formulário_cep();
      }
    });

    $('#createclient-form').submit(function () {
      $('#createclient-form').find(":input[id*='id_']").unmask();
    })
  });
</script>

{% endblock %}