{% extends 'clinicMedicalSys/base.html' %}

{% block content %}
{% load static %}

{% if request.user.is_authenticated %}
<p>{{request.user}}</p>
<a href="{% url 'logout' %}">Logout</a>
{% else %}
<a href="{% url 'login' %}">Login</a>
{% endif %}

<div>
  <td>
    <a class="btn btn-default">
      <button type="button" class="btn btn-secondary btn-lg">Criar cliente</button>
    </a>
    <a class="btn btn-default">
      <button type="button" class="btn btn-secondary btn-lg">Cliente</button>
    </a>
  </td>
</div>>

{% endblock %}